.tag {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12pt;
}

li {
    font-size: 16pt;
}

button.btn {
    font-size: 22pt;
    margin: 30px;
}

h1 > .tag  {
    vertical-align: middle !important;
}