html, body {
	margin: 0;
	padding: 0;
	
}



#container {
	width: 100%;
	margin: auto;
	
}

#header {
	float: left;
	height: 350px;
	width: 50%;
	
}

#nav {
	height: 350px;
    
}	

#sidebar {
	float: left;
	width: 40%;
	height: 1000px;
	
}

#content {
	height: 1000px;
	
}

#footer {
	height: 100px;
}



#header {
	background-image: url(../labs/image/header.jpg);
	background-size: 100%;
	background-position-y: -190px;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px 8px white inset;
}

#htext {
	text-align: center;
	font-size: 3em;
	color: #FFFFFF;
	line-height: 1.1em;
	letter-spacing: -0.04em;
	opacity: 0.9;
	vertical-align: mid;
}

#nav {
	text-align: center;
	font-size: 46px;
	color: #54413A;
	line-height: 1.1em;
	letter-spacing: -0.04em;
	opacity: 0.9;
	vertical-align: mid;
}

#menu {
	margin: 10px auto; 
	padding: 20px; 
	
	text-align: left;
	margin-left: 20px;
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: bold;
	
	list-style-type: none;
	width: 100%;
	color: #54413A;
}



a:active, a{
	text-decoration: none;
	color: #54413A;
}

li:hover {
	font-weight: bold;
}

#homepage {
	font-size: 20px;
	
	margin-top: 25px;
	
	list-style-type: none;
	text-align: center; 
}

pre {
	margin: 20px auto; 
	padding: 20px; 
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	
	list-style-type: none;
	width: 100%;
	color: #54413A;
}

pre b {
	font-size: 24px;
	text-transform: uppercase;
}

#info {
	font-size: 20px;
	padding: 20px;
	
}