body{
	background-color: tomato;
}

li {
	list-style-type: none;
}

.menu {
	text-decoration: none;
	border: 2px solid rgb(107, 189, 0);
	width: 200px;
	padding: 0;
	margin-bottom: 10px;
	display: block;
	line-height: 30px;
	text-indent: 0.6em;
	color: whitesmoke;
}

li a:hover {
	font-weight: bold;
}

.l5 {
	border: 1px solid blue;
	width: 60%;
	padding: 0;
	margin-bottom: 5px;
	display: block;
	line-height: 30px;
	text-indent: 0.6em;
}

.menu:hover {
	transform: rotate(5deg) scale(1.5);
	background-color: #B00B69;
	transition-duration: 0.6s;
	margin: 15px;
}